.grid-container, .grid-container-index {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
}

.grid-item {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-list li {
    margin: 0 15px;
}

.horizontal-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.main {
    background-color: white;
    padding: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    .grid-container, .grid-container-index {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .header {
        flex-direction: column;
        background-color: palevioletred;
        text-align: center;

    }

    .horizontal-list {
        flex-direction: column;
        text-align: center;
    }

    .horizontal-list li {
        margin: 10px 0;
    }
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
}

   .comprar {
      color: black;
      font-size: 16px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 25vh; /
   
   }

   .bienvenida {
    text-align: center;
    background-color: #7700ff86;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.336);
    margin: 20px;
  }
  .texto-bienvenida {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
 
  .productos {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
 
  .productos1 {
    font-size: 28px;
    color: #333; /* Cambia el color de texto según tu preferencia */
    margin-bottom: 10px;
  }
  .productostexto {
    font-size: 16px;
    color: #666; /* Cambia el color de texto según tu preferencia */
    line-height: 1.5;
  }

